@import "./abstract/var";
@import "./c/bttn-secondary";
@import "./c/underline";

#error {
  position: absolute;
  top: 20vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: red;

  margin-top: 1rem;
  padding: 0.9rem 1.6rem 1rem 1.6rem;

  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  color: black;
  border: 0.2rem solid red;
  border-radius: 0.8rem;
  z-index: 15;
}
.bttn-second {
  @include underline;
}

#loading {
  position: absolute;
  top: 15rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: $color-primary-dark;
  text-transform: uppercase;

  margin-top: 1rem;
  padding: 0.9rem 1.6rem 1rem 1.6rem;

  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  border: 0.2rem solid $color-primary-dark;
  border-radius: 0.8rem;
  z-index: 15;
}

.form_container {
  .bttn-second {
    @include underline;
  }

  height: 60vh;
  max-width: 60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;

    margin: auto;
    margin-top: 20vh;
    padding: 2rem 4rem 4rem 4rem;

    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

    input {
      padding: 0.2rem 0.5rem;
      transition: all 0.5s ease;
      margin-bottom: 0.5rem;
      border-bottom: 0.2rem solid transparent;

      &:focus {
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 0.2rem solid $color-secondary;
      }
      &:-webkit-autofill {
        border: none;
        -webkit-text-fill-color: rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.9) inset;
      }
    }

    h1 {
      font-family: "Abel";
      font-size: 3.5rem;
      color: rgba(255, 255, 255, 0);
      text-shadow: 1px 1px 2px $color-black;
      margin-bottom: 2rem;
    }
  }
}

form > * {
  margin-bottom: 1rem;
}
