.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 1% 2rem;
  // flex-shrink: 2;n
  width: 25rem;
  transition: all 0.5s ease;
}

.cart:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 2rem 2rem rgba(0, 0, 0, 0.3);
}

.cart_des {
  width: 100%;
  margin-top: -0.5rem;
  padding-left: 1.6rem;
}

.cart p {
  text-justify: center;
}

.cart_link {
  height: 200;
}

.cart_img {
  max-width: 25rem;
  max-height: 25rem;
  margin: 0;
  padding: 0;
}

.cart_img img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .core {
    padding: 8% 0% 8% 0%;
  }
  .cart {
    max-width: 16rem;
  }
}
