.form_container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
}

.form_container form h1 {
  font-family: "Abel";
  color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px white;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  margin: auto;
  padding: 2rem 4rem 4rem 4rem;

  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
form > * {
  margin-bottom: 1rem;
}

form button {
  margin-top: 1.5rem;
  font-family: "Varela Round", sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0.9rem 1.5rem 1rem 1.5rem;
  // width: 8rem;
  transition: all 0.5s ease;
}

form button:hover {
  color: red;
  background-color: white;
  transform: translateY(-0.5rem);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
form button:active {
  border-radius: 0.6rem;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
  transform: translateY(-0.2rem);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.6);
}
