header {
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 10px rgba(229, 188, 188, 0.1);

  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  padding: 0.3rem;

  nav {
    position: relative;
    // background-color: rgba(255, 255, 255, 0.9);
    // box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;

    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

/* MENU */
.menu {
  min-width: 30%;
  .bttn-menu {
    background: transparent;
    border: none;
    padding: 1rem;
    margin-left: 0.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    width: 9rem;

    cursor: pointer;

    font-family: abel;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: lowercase;

    &:hover {
      color: transparent;
      text-shadow: 0px 0px 1px black;
    }
  }
  .underline:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0%;
    left: 10%;
    height: 0.1rem;
    width: 80%;
    background: transparent;
    transition: all 0.5s ease;
  }
  .underline:hover:after {
    width: 90%;
    bottom: 15%;
    left: 5%;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0.1rem 0.1rem black;
  }
  .underline:disabled:hover:after {
    width: 100%;
    bottom: 15%;
    left: 0;
    background: transparent;
    box-shadow: none;
  }
}

#logo {
  display: flex;
  position: relative;
  width: 16rem;
  z-index: 20;
  margin-left: 2rem;

  // height: 10rem;
  img {
    width: 100%;
    // opacity: 0.8;
    filter: invert(100%) sepia(10%) saturate(1653%) hue-rotate(290deg)
      brightness(0%) contrast(118%);
  }
}

.isActive {
  color: rgba(0, 0, 0, 0.3);
}

// MOBILE
#bars-back {
  position: absolute;
  background-color: transparent;
  width: 32px;
  height: 32px;
  top: -16px;
  z-index: 0;
}

#hamburger {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  // margin-left: 1rem;;
  // transform: translateX(-10%);

  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 10;

  .bar1,
  .bar2,
  .bar3 {
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: #333;
    transition: all 0.5s ease;
  }
  .bar1 {
    transform: translateY(0.8rem);
  }
  .bar3 {
    transform: translateY(-0.8rem);
  }

  &:hover {
    .bar1 {
      transform: translateY(1rem);
      background-color: #e14a48;
    }
    .bar2 {
      background-color: #e14a48;
    }
    .bar3 {
      transform: translateY(-1rem);
      background-color: #e14a48;
    }
  }

  &.hamburger-x {
    .bar1 {
      transform: rotate(-45deg);
    }
    .bar2 {
      background-color: transparent;
    }
    .bar3 {
      transform: rotate(45deg);
    }
    &:hover {
      .bar1 {
        background-color: red;
        transform: rotate(-45deg);
      }
      .bar2 {
        background-color: transparent;
      }
      .bar3 {
        background-color: red;
        transform: rotate(45deg);
      }
    }
  }
}

#hamburger-menu {
  width: 100%;
  justify-content: center;
  margin: auto;
}

div.hidden-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

@media screen and (max-width: 568px) {
  nav {
    flex-direction: column;
    flex-wrap: nowrap;
    #logo{
      margin:0;
    }
  }
  #hamburger {
    display: flex;
    flex-direction: column;
  }
  .menu {
    display: none;
  }
  .logo-con {
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}
