$color-black: #0b1e21;
$color-white: #f5f5ef;
$color-white2: #f6f9f8;
$color-primary: #cceabb;
$color-primary-dark: #b0caa1;
$color-secondary: #fdcb9e;

.product-page {
  margin: auto;
  min-height: 100vh;
  margin: auto;
  // max-width: 120rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.product {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 120rem;

  margin-top: 10vh;

  display: flex;
  // justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.product-image {
  display: flex;
  width: 60rem;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.product-info {
  display: flex;
  // position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // margin: auto;
  padding: 1.5rem 2.5rem;
  flex-shrink: 5;

  form {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    input {
      // position: relative;
      border: none;
      width: 4rem;
      padding: 0.1rem;
    }
  }
  > * {
    margin: 0.5rem;
  }
}

.bttn-second {
  margin-top: 1.5rem;
  padding: 0.9rem 1.6rem 1rem 1.6rem;
  // position: relative;

  font-family: "Varela Round", sans-serif;
  color: $color-black;
  border: 0.1rem solid $color-black;
  border-radius: 1rem;
  background-color: transparent;
  // width: 8rem;
  transition: all 0.5s ease;

  &:hover {
    color: $color-black;
    background-color: $color-primary;
    border: 0.1rem solid $color-primary-dark;

    transform: translateY(-0.4rem);
    box-shadow: 0px 3px 5px $color-primary;
  }
  &:active {
    border-radius: 0.6rem;
    color: rgba(0, 0, 0, 0.4);
    background-color: $color-primary;
    transform: translateY(-0.1rem);
    box-shadow: 0px 2px 3px $color-primary;
  }
}

@media screen and (max-width: 1024px) {

  .product {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
  }

  .product-info {
    margin: auto;
    max-width: 50rem;
    padding: 1.5rem 1rem 5rem;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  image {
    align-self: center;
    max-width: 60rem;
  }
  .bttn-second{
    width: 20rem;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) and (min-width: 700px) {
  .product-page{
    padding-top: 2rem;
  }
  .product {
    flex-direction: row;
    justify-content: flex-start;
    width: 100rem;
  }
  .product-image {
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }
  .product-info {
    max-width: 60rem;
    flex-shrink: 2;
    justify-content: flex-start;
    align-items: flex-start;
  }
 
}
