$color-black: #0b1e21;
$color-white: #f5f5ef;
$color-white2: #f6f9f8;
$color-primary: #cceabb;
$color-primary-dark: #b0caa1;
$color-secondary: #fdcb9e;

.cart-page {
  padding-top: 5rem;
  margin: auto;
  max-width: 120rem;

  .shopingcart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1000rem;

    .header {
      display: flex;
      margin-bottom: 2rem;
      padding-top: 2rem;
      h2 {
        width: 100%;
      }
    }
  }
  .withCheckout {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    padding: 1rem 1rem 2rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;

    max-width: 1200rem;

    .shopingcart-list {
      display: flex;
      flex-direction: column;
      max-width: 60rem;
    }
    .shopingcart-product {
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-wrap: nowrap;

      margin-bottom: 1rem;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

      .image-con {
        display: flex;
        width: 20rem;
        padding: 0;
        img {
          width: 100%;
          max-height: 100%;
          flex-shrink: 1;
        }
      }
      .info-con {
        min-width: 20rem;
        margin: 1rem 2rem 1rem 1rem;
        word-break: break-all;
        .name {
          font-weight: 600;
          font-size: 2rem;
        }
      }
    }
  }

  #StripeCheckout {
    display: flex;
    // position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // margin: auto;
    padding: 1.5rem 2.5rem;
    // flex-shrink: 5;

    // max-width: 100%;
    // position: relative;
    // margin: 0 0 0 2rem;
    // background-color: pink;
    //   align-items: flex-start;
  }
  #sum {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .bttn-second {
    margin-top: 1.5rem;
    padding: 0.9rem 1.6rem 1rem 1.6rem;
    font-family: "Varela Round", sans-serif;
    color: $color-black;
    border: 0.1rem solid $color-black;
    border-radius: 1rem;
    background-color: transparent;
    transition: all 0.5s ease;

    &:hover {
      color: $color-black;
      background-color: $color-primary;
      border: 0.1rem solid $color-primary-dark;

      transform: translateY(-0.4rem);
      box-shadow: 0px 3px 5px $color-primary;
    }
    &:active {
      border-radius: 0.6rem;
      color: rgba(0, 0, 0, 0.4);
      background-color: $color-primary;
      transform: translateY(-0.1rem);
      box-shadow: 0px 2px 3px $color-primary;
    }
  }
}
