$color-black: #0b1e21;
$color-white: #f5f5ef;
$color-white2: rgb(232, 246, 241);
$color-primary: #cceabb;
$color-primary-dark: #b0caa1;
$color-secondary: #fdcb9e;

//basic reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  backface-visibility: hidden;
}

body {
  background-image: -webkit-linear-gradient(
    270deg,
    rgb(205, 215, 251) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #ebd3d2 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    rgba(98, 132, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: linear-gradient(
    180deg,
    $color-white2 0%,
    $color-white 100%
  );
  background-size: cover;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Abel", sans-serif;
  margin: 0 1%;
}

#core{
  padding-top: 6rem;
}

a {
  list-style: none;
  text-decoration: none;
  color: $color-black;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.underline:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0%;
  left: 10%;
  height: 0.1rem;
  width: 80%;
  background: transparent;
  transition: all 0.5s ease;
}
.underline:hover:after {
  width: 90%;
  bottom: 15%;
  left: 5%;
  background: f5f5ef;
  // box-shadow: 0 0.1rem 0.5rem rgba(98, 132, 255, 1);
}
.underline:disabled:hover:after {
  width: 100%;
  bottom: 15%;
  left: 0;
  background: transparent;
  box-shadow: none;
}

.core {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 120rem;
  padding: 4%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.display_filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_filter button {
  font-family: "Abel";
  font-size: 1.6rem;
  border: none;
  position: relative;
  padding: 1.5rem;
  border-right: 0.2rem dotted rgba($color-black, 0.3);
  background-color: transparent;
}

.display_filter button:hover {
  // color: $color-secondary;
  text-shadow: 0 0.1rem 0.1rem $color-black;
}

.display_filter button:disabled:hover {
  color: rgba(0, 0, 0, 0.3);
  text-shadow: none;

}
.display_filter button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.display_filter button ~ button {
  border: none;
}

#filter {
  margin-right: 1rem;
}

.display_products {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

/* FORM */
*:focus {
  outline: none;
}

/* input[type="text"] {
  border: none;
} */

input {
  position: relative;
  margin: 0;
  padding: 0.9rem 1.5rem 1rem 1.5rem;
  border: none;
  height: 100%;
  align-self: center;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 0.1rem solid white;
  transition: all 0.7s ease;
}

input:focus {
  border-bottom: 0.1rem solid $color-black;
}

.message {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(0, -200%);
  text-transform: uppercase;
  color: $color-white;
  padding: 0.2rem 0.6rem;
}

@media screen and (max-width: 568px) {
  body {
    font-size: 1.6rem;
    margin: 0;
  }
}
