html {
  font-size: 62.5%;
}

body {
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(98, 132, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    #ebd3d2 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    rgba(98, 132, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(98, 132, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: cover;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Abel", sans-serif;
  box-sizing: border-box;
  margin: 0 1%;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
/* MENU */
header {
  max-width: 130rem;
  margin: auto;
}

header nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: space-around;
}

/* MENU */
.menu {
  min-width: 30%;
}
.menu button {
  background: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;

  width: 9rem;

  padding: 0%;

  cursor: pointer;

  font-family: abel;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: lowercase;

  margin-left: 0.2rem;
}
.menu button:hover {
  border-bottom: 0px solid white;
  color: transparent;
  text-shadow: 1px 1px 1px white;
}
.menu button:hover a {
  color: #e14a48;
}
.isActive {
  color: rgba(0, 0, 0, 0.3);
}

.underline:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0%;
  left: 10%;
  height: 0.1rem;
  width: 80%;
  background: transparent;
  transition: all 0.5s ease;
}
.underline:hover:after {
  width: 90%;
  bottom: 15%;
  left: 5%;
  background: white;
  box-shadow: 0 0.1rem 0.5rem rgba(255, 255, 255, 0.5);
}
.underline:disabled:hover:after {
  width: 100%;
  bottom: 15%;
  left: 0;
  background: transparent;
  box-shadow: none;
}

.core {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 120rem;
  padding: 4%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.display_filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_filter button {
  font-family: "Abel";
  font-size: 1.6rem;
  border: none;
  position: relative;
  padding: 1.5rem;
  border-right: 0.2rem solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
}

.display_filter button:hover {
  color: white;
}

.display_filter button:disabled:hover {
  color: rgba(0, 0, 0, 0.3);
}
.display_filter button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.display_filter button ~ button {
  border: none;
}

#filter {
  margin-right: 1rem;
}

.display_products {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}



/* FORM */
*:focus {
  outline: none;
}

/* input[type="text"] {
  border: none;
} */

input {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  align-self: center;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  transition: border-bottom 0.5s ease;
}

input:focus {
  border-bottom: 0.1rem solid white;
}

.message {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(0, -200%);
  text-transform: uppercase;
  color: white;
  padding: 0.2rem 0.6rem;
}

@media screen and (max-width: 568px) {
  body {
    font-size: 1.2rem;
  }
}
