@import "../abstract/var";
@import "./underline";

.bttn-second {
  margin-top: 1rem;
  padding: 0.9rem 1.6rem 1rem 1.6rem;

  font-family: "Varela Round", sans-serif;
  color: $color-black;
  border: 0.1rem solid transparent;
  border-radius: 2rem;
  background-color: white;
  // width: 8rem;
  box-shadow: 0px 1px 3px rgba($color-black, 0.2);

  transition: all 0.5s ease;

  &:hover {
    color: white;
    background-color: $color-primary-dark;
    // border: 0.1rem solid $color-primary-dark;

    // border: $color-primary-dark;
    transform: translateY(-0.2rem);
    box-shadow: 0px 3px 5px rgba($color-black, 0.2);
  }
  &:active {
    border-radius: 10rem;
    color: rgba(0, 0, 0, 0.4);
    background-color: $color-primary-dark;
    transform: translateY(-0.1rem);
    box-shadow: 0px 2px 3px $color-primary-dark;
  }
}


@media screen and (max-width: 1024px) {
  .bttn-second {
    width: 20rem;
  }
}
